@import "tailwindcss";

/* ========= THEME COLORS ========= */

:root {
  --color-primary: #3e0000;
  --color-cream: #f5e9dc;
  --color-gold: #c6a75e;
}

/* Dark mode support (optional for future) */
.dark {
  --color-primary: #2a0000;
  --color-cream: #f5e9dc;
  --color-gold: #c6a75e;
}

/* ========= BASE STYLES ========= */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-cream);
  color: var(--color-primary);
  font-family: system-ui, sans-serif;
}

@theme{
  --color-primary: #2a0000;
  --color-cream: #f5e9dc;
  --color-gold: #c6a75e;
  --background-color-primary: var(--color-primary);
  --background-color-cream: var(--color-cream);
  --background-color-gold: var(--color-gold);

}